<div class = "issue_index_container">
	<div class = "issue_title">
		<%= issue.get('title') %>
	</div>
	<div class = "issue_image">
		<img src = 'assets/issues/<%= issue.get('thumbnail') %>.png' height = "100%"/>
	</div>
</div>