<div class = "global_rank_small_icon" style = 'position: relative; margin: 0 10px 0 0'>
	<div style = 'position: absolute; top: 2px; left: 2px'>&#9733;</div>
	<div style = 'position: absolute; top: 1px; left: 0px'>
		<input type="text" class= "global-dial" data-width="10"
	    	data-fgColor="#fff"
			data-bgColor="#749199"
	    	data-thickness=".20"
			data-readOnly = true
			data-displayInput = false
			data-angleOffset = '180'
		/>
	</div>
</div>
<div id = 'static_stars' style = 'margin: 0 11px 0 0'></div>

