<div class = "friend_challenge_container" style = 'overflow: hidden'>	
	<div class = "friend_picture">
		<img src="https://graph.facebook.com/<%= friend['id'] %>/picture" height="100%" width="100%" />
	</div>
	<div class = "friend_challenge_text_container">
		<div class = "friend_name">
			<%= friend['name'] %>
		</div>
		<div id = 'left_global_stars' class = "friend_challenge_rank_container"></div>
	</div>
</div>