<div class = "friend_challenge_container">	
	<div class = "friend_picture">
		<img src="https://graph.facebook.com/<%= friend['id'] %>/picture"/ height="100%" width="100%">
	</div>
	<div class = "friend_name">
		<%= friend['name'] %>
	</div>
</div>