<div>
	<img src = 'https://graph.facebook.com/<%= user.get('uid') %>/picture' />
</div>
<div>
	<input type="text" class="dial" data-width="30"data-fgColor="#fff" data-thickness=".40" data-readOnly = true data-displayInput = false />
	<div>
		<img src = 'assets/logos/white.png' />
	</div>
</div>