<div class = "challenge_user_rank_small_icon" style = 'position: relative; width: 13px; height: 15px; float: left'>
	<div style = 'position: absolute; top: 9px; left: 2px'>&#9733;</div>
	<div style = 'position: absolute; top: 9px; left: 0px'>
		<input type="text" class= "left-question hide" data-width="10"
	    	data-fgColor="#98BCC7"
	    	data-thickness=".20"
			data-readOnly = true
			data-displayInput = false
			data-angleOffset = '180'
		/>
	</div>
</div>
<div id = 'static_stars' style = 'float: left'></div>