<div id = 'static_stars'></div>
<div class = "challenge_user_rank_small_icon float_left" style = 'position: relative'>
	<div style = 'position: absolute; top: 0; left: 1px'>&#9733;</div>
	<div style = 'position: absolute; top: -1px; left: -1px'>
		<input type="text" class= "left-question" data-width="10"
	    	data-fgColor="#98BCC7"
	    	data-thickness=".20"
			data-readOnly = true
			data-displayInput = false
			data-angleOffset = '180'
		/>
	</div>
</div>