<div class = "profile_pic_container">
	<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture"/ height="100%">
</div>
<div class = "profile_name_container">
	<% if (user.get('name').split(' ').length > 1) { %>
	    <%= user.get('name').split(' ')[0] +  " " + user.get('name').split(' ')[user.get('name').split(' ').length - 1].charAt(0) %>.
	<% } else { %>
	    <%= user.get('name').split(' ')[0] %>.
	<% } %>
</div>
<div id = 'bubbles' class = "global_rank_container"></div>