<div class = "user_picture_container">
	<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture?type=large" height="100%" />
</div>
<div class = "question_score"><%= task.get('score') %></div>