<% if (winner) { %>
	<div class = "user_picture_container left_side">
		<% if (is_winner) { %>
			<div class = "winner_checkmark">&#x2713;</div>
		<% } else { %>
			<div class = "loser_mark">&#x2717;</div>
		<% } %>
		<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture" height="100%" />
	</div>
<% } else { %>
	
	
	<div class = "result_answers_container">
		<div class = "result_correct_answer_container">
			<div class = "result_checkmark_container">&#x2713;</div> 
			52,000
		</div>
		<div class = "result_user_answer_container">
			<div class = "result_user_image_container">
				<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture" height="100%"/>
			</div>
			45,000
		</div>
	</div>
	
	<div class = "result_answer_send_challenge">
		<%= correct %></br>
		10000
	</div>
	<div class = "result_answer_send_challenge checkmark_image_container">
		<div class = "green_checkmark">&#x2713;</div>
		<div class = "result_user_image_container">
			<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture" height="100%"/>
		</div>
	</div>
	

<% } %>
