<div class = "user_picture_container">
	<div class = "loser_mark">&#x2717;</div>
	<div class = "winner_checkmark">&#x2713;</div>
	<img src="https://graph.facebook.com/<%= user.get('uid') %>/picture" height="100%" />
</div>
<div class = "question_score"><%= task.get('score') %></div>