<div class = "issue_rank_small_icon right_side" style = 'position: relative; margin: 0 10px 0 0'>
	<div style = 'position: absolute; top: 2px; left: 2px'>&#9733;</div>
	<div style = 'position: absolute; top: 2px; left: 0px'>
		<input type="text" class= "right-dial hide" data-width="10"
	    	data-fgColor="#98BCC7"
	    	data-thickness=".20"
			data-readOnly = true
			data-displayInput = false
			data-angleOffset = '180'
		/>
	</div>
</div>
<div id = 'static_stars' style = 'margin: 0 11px 0 0'></div>