.create_challenge_button {
	cursor: pointer;
	/*box-shadow: -1px -1px 2px rgba(darken($bluegreen,40%), 0.99) inset,
				1px 1px 2px rgba(darken($bluegreen,40%), 0.99) inset;
				*/
	@include border-radius(8px);
	@include linear-gradient(lighten($bluegreen,1%), darken($bluegreen,16%));
	@include fonts;
	float: left;
	height: 21px;
	padding-top: 9px;
	width: 42%;
	margin: 20px 0 0 29%;
	
	color: #ffffff;
	font-size: 12px;
	border: none;
	text-align: center;
	
	@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
	@include text-shadow(0px 1px 0 rgba(darken($bluegreen,30%),0.99));	
	font-weight: bold;
	&:hover {
		@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
		box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
					1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
	}
}

.your_challenges_container {
	float: left;
	width:100%;
	font-weight: bold;
	font-size: 12px;
	margin: 2px 0 0 0;
	color: #ffffff;
	.your_challenges_text{
		font-weight: bold;
		font-size: 11px;
		padding: 1px 0 1px 0;
		text-align: center;
		border: 1px solid;
		@include border-top-radius(9px);
		border-bottom: none;
		border-color: rgba($bluegreen,0.6);
		@include linear-gradient(lighten($bluegreen,5%), darken($bluegreen,11%));
		@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	}
}


.sent_challenge_container {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
	color: #ffffff;
	.sent_challenges_text {
		font-weight: bold;
		font-size: 11px;
		padding: 1px 0 1px 0;
		text-align: center;
		border: 1px solid;
		@include border-top-radius(9px);
		border-bottom: none;
		border-color: rgba($bluegreen,0.6);
		@include linear-gradient(lighten($bluegreen,5%), darken($bluegreen,11%));
		@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	}
}
.challenges_bottom_container {
	float: left;
	height: 10px;
	width: 99.7%;
	padding: 2px 0 1px 0;
	border: 1px solid;
	@include border-bottom-radius(9px);
	border-top: none;
	border-color: rgba($bluegreen,0.6);
	@include linear-gradient(lighten($bluegreen,5%), darken($bluegreen,11%));
	@include single-box-shadow(rgba(#000, 0.15), 0px, 1px, 1px, 0);
}


.results_container {
	padding-bottom: 8px;
	@include border-radius(12px);
	padding: 15px 4px 15px 4px;
	margin: 0px 2px 0 2px;
	box-shadow: 2px 2px 1px rgba(darken($bluegreen,5%), 0.40);
	background: rgba(#000000, 0.05);
	
	.finished_text {
		/*border-bottom: 1px solid desaturate(darken($bluegreen, 15%),15%);*/
		text-align: center;
		font-weight: bold;
		color: darken($bluegreen,10%);
		font-size: 14px;
		margin: 0 0 15px 0;
		@include text-shadow(0px 1px 0 rgba(darken($bluegreen,33%),0.15));	
	}
}