.create_challenge_button {
	cursor: pointer;
	/*box-shadow: -1px -1px 2px rgba(darken($bluegreen,40%), 0.99) inset,
				1px 1px 2px rgba(darken($bluegreen,40%), 0.99) inset;
				*/
	@include border-radius(10px);
	@include linear-gradient(desaturate(darken($bluegreen,5%),5%), desaturate(darken($bluegreen,22%),5%));
	@include fonts;
	float: left;
	height: 26px;
	padding-top: 11px;
	width: 46%;
	margin: 10px 0 0 27%;
	
	color: #ffffff;
	font-size: 13px;
	border: none;
	text-align: center;
	
	@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
	@include text-shadow(0px 1px 0 rgba(darken($bluegreen,40%),0.99));	
	font-weight: bold;
	&:hover {
		@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
		box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
					1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
	}
}

.your_challenges_container {
	float: left;
	width:100%;
	font-weight: bold;
	font-size: 12px;
	margin: 2px 0 0 0;
	color: darken($bluegreen, 55%);
	.your_challenges_text{
		margin: 0 0 3px 3px;
	}
}


.sent_challenge_container {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
	color: darken($bluegreen, 55%);
	.sent_challenges_text {
		font-weight: bold;
		font-size: 12px;
		margin: 0px 0 3px 3px;
	}
}

.finished_text {
	margin: 15px 0 6px 0;
	padding-bottom: 6px;
	border-bottom: 1px solid desaturate(darken($bluegreen, 15%),15%);
	text-align: center;
	font-weight: bold;
	color: darken($bluegreen,30%);
	font-size: 13px;
}

.results_container {
	padding-bottom: 8px;
}