.issue_index_container {
	height: 35px;
	margin: 0 0 8px 5%;
	width: 90%;
	@include border-radius(9px);
	@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
	@include linear-gradient(lighten($bluegreen,20%), lighten($bluegreen,10%));

	.issue_title {
		font-weight: bold;
		padding: 12px 0 0 8px;
		font-size: 12px;
		float: left;
		color: #111111;
	}

	.issue_image {
		float: right;
		@include border-radius(7px);
		overflow: hidden;
		height: 35px;
		width: 35px;
	}
}

.choose_issue_text {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid;
	padding: 4px 0 4px 0;
	@include border-top-radius(7px);
	border-bottom: none;
	border-color: rgba($bluegreen,0.6);
	background: rgba($bluegreen, 0.6);
	@include text-shadow(0px 1px 0 rgba(darken($bluegreen,30%),0.4));	
}