body {
	margin: 6px;
	padding: 5px;
	@include fonts;
	box-shadow: -2px -1px 2px rgba(darken($bluegreen,10%), 0.3),
				2px 1px 2px rgba(darken($bluegreen,10%), 0.3);
	@include border-radius(6px);
	min-height: 416px;
}