.float_left {
	float: left;
}
.float_right {
	float: right;
	text-align: right;
}

.challenge_versus_container {
	margin: 15px 40px 0 40px;
	overflow: auto;
	padding-bottom: 1px;
	
	.challenge_profile_container {
		overflow: hidden;
		border: 1px solid;
		border-color: rgba($bluegreen, 0.5);
		width: 34%;
		height: 40px;
		padding: 0 7px 0 7px;
		@include border-radius(10px);
		box-shadow: 0px 1px 1px rgba(darken($bluegreen,5%), 0.35);
		background: rgba(#000000, 0.05);
	
		.challenge_user_image {
			width: 30px;
			height: 30px;
			overflow: hidden;
			margin: 5px 0 0 0;
			@include border-radius(5px);
			@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
		}
	
		.challenge_user_name_container {
			width: 60%;
			height: 12px;
			overflow: hidden;
			font-size: 9px;
			margin: 9px 5px 0 5px;
			font-weight: bold;
			color: darken($bluegreen, 15%);
			@include text-shadow(0px 1px 0 rgba(#000, 0.1));
		}
		.challenge_user_rank_container {
			width: 60%;
			margin: 0px 5px 0 5px;
			height: 10px;
			color: darken($bluegreen, 5%);
			@include text-shadow(0px 1px 0 rgba(#000, 0.3));
			.challenge_user_rank_big_icon {
				margin-left: 1px;
				font-size: 9px;
			}
			.challenge_user_rank_small_icon {
				margin: 2px 2px 0 2px;
				font-size: 6px;
			}
		}
	}

	.challenge_versus_text {
		float: left;
		width: 20%;
		font-size: 12px;
		font-weight: bold;
		padding-left: 4px;
		margin: 15px 0 0 0;
		text-align: center;
		color: darken($bluegreen,20%);
		@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	}
}

.challenge_issue_title {
	font-size: 11px;
	height: 15px;
	font-weight: bold;
	padding: 3px 0 1px 0;
	margin: 15px 40px 0 40px;
	text-align: center;
	color: #ffffff;
	@include border-top-radius(10px);
	border-color: rgba($bluegreen,0.4);
	@include linear-gradient(lighten($bluegreen,1%), darken($bluegreen,16%));
	@include text-shadow(0px 1px 0 rgba(#000, 0.3));
	box-shadow: 0px 0px 1px rgba(darken($bluegreen,5%), 0.60);

}

.interaction_container {
	@include border-top-radius(12px);
	@include border-bottom-radius(12px);
	padding: 4px 2px 15px 2px;
	margin: 0px 2px 0 2px;
	box-shadow: 0px 1px 1px rgba(darken($bluegreen,5%), 0.40);
	background: rgba(#000000, 0.05);
	border: 1px solid;
	border-color: rgba($bluegreen,0.4);
}

.question_title {
	font-size: 14px;
	line-height: 18px;
	color: darken($bluegreen, 25%);
	font-weight: bold;
	padding: 0px 6px 15px 6px;
	margin: 10px 2px 15px 2px;
	border-bottom: 1px solid rgba(#000000, 0.05);
}

.slider_container {
	margin: 20px 5% 10px 5%;
	width: 90%; 
	position: relative;

	.user_slider_bar {
		height: 12px; 
		@include border-radius(6px);
		@include linear-gradient(rgba(#000,0.05), rgba(#000,0.17));
		@include single-box-shadow(rgba(#000, 0.13), 0px, 1px, 1px, 0);
		width: 100%; 
		position: absolute; 
		top: 0px; 
		left: 0;

		
		.fill-slider {
			position: absolute;
			top: 0;
			left: 0;
			background: lighten($orange, 18%);
			@include linear-gradient(lighten($orange,24%), lighten($orange,12%));
			width: 50%;
			height: 12px; 
			@include border-radius(6px);
		}
	}
	
	.user_slider {
		background: $bluegreen;
		cursor: pointer;
		width: 30px;
		height: 30px;
		text-align: center;
		color: darken($bluegreen,35%);
		font-size: 9px;
		@include border-radius(15px);
		@include linear-gradient(lighten($orange,18%), darken($orange,6%));
		box-shadow: -1px 0px 1px rgba(darken($orange,10%), 0.5),
					1px 0px 1px rgba(darken($orange,10%), 0.5);
		&:active {
			@include linear-gradient(darken($orange,6%), lighten($orange,18%));
		}
	}
	
	.correct_slider {
		margin-top: 22px;
		content: "";
		display: block; 
		border-width: 0px 13px 20px 13px;
		border-style: solid;
		border-color: rgba(darken($bluegreen,85%), 0) rgba(darken($bluegreen,85%), 0) rgba(darken($bluegreen,85%), 1) rgba(darken($bluegreen,85%), 0);
		width: 0;
		height: 0;
		@include single-box-shadow(rgba($orange, 0.12), 0px, 1px, 1px, 0);
		font-size: 11px;
		.correct_checkmark {
			font-size: 14px;
			color: rgb(98,230,0);
			padding-top: 4px;
			margin: 0 0 0 -6px;
			width: 30px;
		}
	}
	
	.correct_slider_text {
		position: absolute;
		font-weight: bold;
		top: 42px;
		left: -29px;
		font-size: 11px;
		width: 80px;
		text-align: center;
		color: darken($bluegreen, 85%);
		overflow: auto;
	}
	
	.slider_icon {
		margin: 7px 0 0 7px;
		height: 15px;
		width: 15px;
	}
	
	.challenger_slider {
		background: $bluegreen;
		cursor: pointer;
		width: 30px;
		height: 30px;
		text-align: center;
		color: darken($bluegreen,35%);
		font-size: 9px;
		@include border-radius(15px);
		@include linear-gradient(lighten($bluegreen,18%), darken($bluegreen,6%));
		box-shadow: -1px 0px 1px rgba(darken($bluegreen,10%), 0.5),
					1px 0px 1px rgba(darken($bluegreen,10%), 0.5);
	}
	
	.challenger_after_submission {
		position: absolute;
		top: 3px;
		left: 3px;
		height: 24px;
		width: 24px;
		overflow: hidden;
		@include border-radius(10px);
	}
	
	.user_after_submission {
		position: absolute;
		top: 3px;
		left: 3px;
		height: 24px;
		width: 24px;
		overflow: hidden;
		@include border-radius(10px);
	}
}

.triangles_container {
	width: 90%;
	margin: 3px 0 0 5%;
	height: 10px;

	.slider_triangle {
		content: "";
		display: block; 
		border-width: 0px 5px 8px 5px;
		border-style: solid;
		border-color: rgba(darken($bluegreen,5%), 0) rgba(darken($bluegreen,5%), 0) rgba(darken($bluegreen,5%), 1) rgba(darken($bluegreen,5%), 0);
		width: 0;
		height: 0;
		@include single-box-shadow(rgba($orange, 0.12), 0px, 1px, 1px, 0);
	}
	.left {
		float: left;
		margin-left: -2px;
	}
	.right {
		float: right;
		margin-right: -4px;
	}
}

.labels_container {
	width: 90%;
	margin: 1px 0 0 5%;
	.boundary {
		font-size: 11px;
		color: #aaaaaa;
	}
	.minimum {
		float: left;
		min-width: 50px;
		margin-left: -2px;
	}
	.maximum {
		float: right;
		margin-right: -5px;
	}
}

.question_result_container {
	border-top: 1px solid rgba(#000000, 0.08);
	margin: 8px 3px 0px 3px;
	padding: 10px 0 2px 0;
	overflow: auto;
}

.question_result_title {
	font-size: 12px;
	margin: 0 4px 0 4px;
	float: left;
	width: 70%;
	color: darken($bluegreen, 43%);
	line-height: 15px;
}

.question_score {
	font-size: 13px;
	float: right;
	margin-right: 2px;
}

.answer_form_input {
	margin: 10px 0 18px 0;
	text-align: center;
	
	.typeable {
		font-weight: bold;
		@include border-radius(8px);
		color: $orange;
		font-size: 12px;
		height: 20px;
		width: 100px;
		text-align: center;
		border: none;
		box-shadow: 1px 1px 1px rgba(darken($orange,40%), 0.7) inset;
		&:active {
			box-shadow: -1px 0px 1px rgba(darken($orange,10%), 0.5) inset,
						1px 0px 1px rgba(darken($orange,10%), 0.5) inset;
		}
	}
	
	.answer_units {
		color: darken($orange,10%);
		font-size: 12px;
	}
}

.answer_form_submit {
	text-align: center;
	.submit_button {
		cursor: pointer;
		@include text-shadow(0px 1px 0 rgba(darken($bluegreen,40%),0.3));
		@include border-radius(11px);
		@include linear-gradient(lighten($orange,18%), darken($orange,6%));
		box-shadow: -1px 0px 1px rgba(darken($orange,20%), 0.8),
					1px 0px 1px rgba(darken($orange,20%), 0.8);
		@include fonts;
		text-align: center;
		height: 30px;
		width: 80px;
		margin: 10px 0 0 7px;

		color: #ffffff;
		font-size: 13px;
		border: none;
		font-weight: bold;
		&:hover {
			@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
			box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
						1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
		}
	}
}

.source_next_container {
	width: 96%;
	margin: 25px 0 0 2%;
	padding: 0 0 2px 0;
	overflow: auto;

	.source_button {
		cursor: pointer;
		/*box-shadow: -1px -1px 2px rgba(darken($bluegreen,40%), 0.99) inset,
					1px 1px 2px rgba(darken($bluegreen,40%), 0.99) inset;
					*/
		@include border-radius(11px);
		@include linear-gradient(lighten($bluegreen,1%), darken($bluegreen,16%));
		@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(darken($bluegreen,30%),0.99));
		@include fonts;
		float: left;
		height: 21px;
		padding-top: 9px;
		width: 25%;
		float: left;
		color: #ffffff;

		font-size: 12px;
		border: none;
		text-align: center;
		font-weight: bold;
		&:hover {
			@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
			box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
						1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
		}
	}

	.next_button {
		cursor: pointer;
		/*box-shadow: -1px -1px 2px rgba(darken($bluegreen,40%), 0.99) inset,
					1px 1px 2px rgba(darken($bluegreen,40%), 0.99) inset;
					*/
					
		@include fonts;
		@include border-radius(11px);
		@include text-shadow(0px 1px 0 rgba(darken($bluegreen,40%),0.3));
		@include linear-gradient(lighten($orange,18%), darken($orange,6%));
		@include single-box-shadow(rgba(#000, 0.35), 0px, 1px, 1px, 0);
		float: left;
		height: 21px;
		padding-top: 9px;
		width: 25%;
		float: right;
		color: #ffffff;

		font-size: 12px;
		border: none;
		text-align: center;
	

		font-weight: bold;
		&:hover {
			@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
			box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
						1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
		}
	}
}

.rage-container {
	position: relative;
	height: 55px;
	left: 35%;
	width: 30%;
}

.rage-comic {
	position: absolute;
	top: -10px;
	width: 100%;
	text-align: center;
}