.user_picture_container {
	width: 30px;
	height: 30px;
	overflow: hidden;
	margin-left: 5px;
	@include border-radius(5px);
	float: left;
	@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
	
	.winner_checkmark {
		position: absolute;
		font-size: 32px;
		color: rgb(98,230,0);
		text-align: center;
		margin-top: -3px;
		width: 30px;
	}
	.loser_mark {
		position: absolute;
		font-size: 32px;
		color: rgb(255,71,88);
		text-align: center;
		margin-top: -3px;
		width: 30px;
	}
}

.challenge_container {
	padding: 6px 0 6px 0;
	border-top: 1px solid;
	border-color: rgba($bluegreen,0.4);
	min-height: 30px;
	overflow: hidden;

	.user_name {
		font-size: 10px;
		float: left;
		margin: 9px 0 0 5px;
		font-weight: bold;
		color: #555555;
		@include text-shadow(0px 1px 0 rgba(lighten($bluegreen,25%),0.99));
	}
	
	.user_issue_container {
		@include linear-gradient(lighten($bluegreen,20%), lighten($bluegreen,10%));
		overflow: auto;
		@include border-radius(5px);
		float: right;
		width:200px;
		padding-left: 6px;
		margin-right: 3px;
		@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
		
		.user_issue_title {
			font-size: 11px;
			margin: 9px 5px 0 0;
			font-weight: bold;
			text-align: center;
			color: #222222;
		}
	
		.user_issue_image {
			width: 30px;
			height: 30px;
			overflow: hidden;
			@include border-radius(5px);
			float: right;
		}
	}
}
.friend_challenge_container {
	overflow: auto;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid lighten($bluegreen,22%);
	margin: 5px 0 5px 0;
	
	.friend_picture {
		height: 35px;
		width: 35px;
		overflow: hidden;
		@include border-radius(5px);
		float: left;
		@include single-box-shadow(rgba(#000, 0.35), 1px, 1px, 1px, 0);
	}

	.friend_name {
		width: 200px;
		font-weight: bold;
		font-size: 11px;
		float: left;
		margin: 11px 0 0 5px;
		color: darken($bluegreen,20%);
	}
}

.question_score {
	display: none;
}

.friends-list {
	position: relative;
}

.alphabet {
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	width: 40px;
	
	div {
		border: 1px solid darken(desaturate($bluegreen, 20%), 20%);
		@include border-left-radius(4px);
		background: rgba(#000, 0.5);
		color: $bluegreen;
		text-align: center;
		width: 100%;
		font-size: 12px;
		height: 14px;
		line-height: 14px;
		
		&.active {
			color: #fff;
			font-weight: bold;
			background: rgba(#000, 0.75);
		}
	}
}
