.challenge_container {
	padding: 6px 0 6px 0;
	border-top: 1px solid;
	border-color: #cccccc;
	min-height: 30px;
	overflow: hidden;
	
	.user_picture_container {
		width: 30px;
		height: 30px;
		overflow: hidden;
		margin-left: 3px;
		@include border-radius(5px);
		float: left;
	}

	.user_name {
		font-size: 10px;
		float: left;
		margin: 9px 0 0 5px;
		font-weight: bold;
		color: #555555;
	}
	
	.user_issue_container {
		@include linear-gradient(lighten($bluegreen,25%), lighten($bluegreen,15%));
		overflow: auto;
		@include border-radius(5px);
		float: right;
		padding-left: 6px;
		margin-right: 3px;
		
		.user_issue_title {
			font-size: 11px;
			margin: 9px 5px 0 0;
			font-weight: bold;
			float: right;
			color: #333333;
		}
	
		.user_issue_image {
			width: 30px;
			height: 30px;
			overflow: hidden;
			@include border-radius(5px);
			float: right;
		}
	}
}
.friend_challenge_container {
	overflow: auto;
	padding: 0 0 5px 5px;
	border-bottom: 1px solid lighten($bluegreen,22%);
	margin: 5px 0 5px 0;
	
	.friend_picture {
		height: 35px;
		width: 35px;
		overflow: hidden;
		@include border-radius(5px);
		float: left;
	}

	.friend_name {
		width: 200px;
		font-weight: bold;
		font-size: 12px;
		float: left;
		margin: 10px 0 0 5px;
		color: darken($bluegreen,15%);
	}
}
