<div class = "rage-comic">
	<% if (is_win) { %>
		
		<img src = "assets/rage/win/<%= num %>.png" height = "100%"/>
	<% } else { %>
		<img src = "assets/rage/fail/<%= num %>.png" height = "100%"/>
	<% } %>
</div>