<div id = "title" class = "question_title">
	<%= question.get('title') %>
</div></br>
<div class = "slider_container">
	<div id = 'slider' class = "user_slider_bar"></div>
	<div id = 'block' class = 'off user_slider' style = 'position: absolute; top: -8px; left: -10px'></div>
	<div id = 'correct' class = 'hide' style = 'position: absolute; top: -8px; left: -10px;'>
		<div class = 'correct_slider'>&#10004;</div>
	</div>
</div></br>

<div id = 'mins' class = "minimum boundary">
	<%= min %>
</div>
<div class = "maximum boundary">
	<%= max %>
</div>
</br>
<div class = "answer_form">
	<form id = 'answer'>
		<input type = 'text' id = 'number' value = '<%= min %>' class = "typeable"/>
		<input type = 'submit' value = 'Submit' class = "submit_button"/>
	</form>
</div>
