<div class = "interaction_container">
	<div id = "title" class = "question_title">
		<%= question.get('title') %>
	</div>
	
	<div id = 'answers'></div>
	
	<div id = 'url' class = 'hide source_next_container'>
		<div id = 'source_url' class = "source_button">
			View Source
		</div>
		<div id = 'next' class = "next_button">
			Next
		</div>
	</div>
	<div id = 'rage_comic'></div>
</div>
