<div class = "challenge_versus_text">
	vs.
</div>

<div class = "challenge_versus_container">
	<div class = "challenge_profile_container float_left">
		<div class = "challenge_user_image float_left">
			<img src="https://graph.facebook.com/517826414/picture"/ height="100%">
		</div>
		<div class = "challenge_user_name_container float_left">
			Challenger
		</div>
		<div class = "challenge_user_rank_container float_left">
			<span class = "challenge_user_rank_big_icon">
				&#9733;
			</span>
			<span class = "challenge_user_rank_big_icon">
				&#9733;
			</span>
			<span class = "challenge_user_rank_small_icon">
				&#9733;
			</span>
		</div>
	</div>

	<div class = "challenge_profile_container float_right">
		<div class = "challenge_user_image float_right">
			<img src="https://graph.facebook.com/517826414/picture"/ height="100%">
		</div>
		<div class = "challenge_user_name_container float_right">
			Nassim
		</div>
		<div class = "challenge_user_rank_container float_right">
			<span class = "challenge_user_rank_big_icon">
				&#9733;
			</span>
			<span class = "challenge_user_rank_small_icon">
				&#9733;
			</span>
		</div>
	</div>
</div>

<div class = "challenge_issue_title">
	Climate Change
</div>

<div class = "interaction_container">
	<div id = "title" class = "question_title">
		<%= question.get('title') %>
	</div>
	<div id = 'slider_or_multiple_choice'></div>
	<div id = 'url' class = 'hide source_next_container'>
		<div id = 'source_url' class = "source_button">
			View Source
		</div>
		<div id = 'next' class = "next_button">
			Next
		</div>
	</div>
	<div id = 'rage_comic'></div>
</div>
