<div class = 'alphabet'>
	<div id = '0' class = 'letter'>A</div>
	<div id = '1' class = 'letter'>B</div>
	<div id = '2' class = 'letter'>C</div>
	<div id = '3' class = 'letter'>D</div>
	<div id = '4' class = 'letter'>E</div>
	<div id = '5' class = 'letter'>F</div>
	<div id = '6' class = 'letter'>G</div>
	<div id = '7' class = 'letter'>H</div>
	<div id = '8' class = 'letter'>I</div>
	<div id = '9' class = 'letter'>J</div>
	<div id = '10' class = 'letter'>K</div>
	<div id = '11' class = 'letter'>L</div>
	<div id = '12' class = 'letter'>M</div>
	<div id = '13' class = 'letter'>N</div>
	<div id = '14' class = 'letter'>O</div>
	<div id = '15' class = 'letter'>P</div>
	<div id = '16' class = 'letter'>Q</div>
	<div id = '17' class = 'letter'>R</div>
	<div id = '18' class = 'letter'>S</div>
	<div id = '19' class = 'letter'>T</div>
	<div id = '20' class = 'letter'>U</div>
	<div id = '21' class = 'letter'>V</div>
	<div id = '22' class = 'letter'>W</div>
	<div id = '23' class = 'letter'>X</div>
	<div id = '24' class = 'letter'>Y</div>
	<div id = '25' class = 'letter'>Z</div>
</div>
<div id = 'friends'></div>
