<div id = 'available_challenges' class = "your_challenges_container">
	<% if (challenges > 0) { %>
		<div class= "your_challenges_text">
			Your Turn
		</div>
	<% } else { %>
		<div>Challenge a Friend!</div>
	<% } %>
</div>

<div id = 'hide_if_empty' class = "challenges_bottom_container"></div>

<div id = 'create' class = "create_challenge_button">
	Create a Challenge!
</div>

<div id = 'unanswered_challenges' class = "sent_challenge_container">
	<div class = "sent_challenges_text">
		Sent Challenges
	</div>
</div>

<div class = "challenges_bottom_container"></div>

