<div id = 'available_challenges'>
	<% if (challenges.length > 0) { %>
		<div>Your Challenges: </div>
	<% } else { %>
		<div>Try creating a challenge</div>
	<% } %>
</div>
<div id = 'create'>Create Challenge</div>
<div id = 'unanswered_challenges'>
	<div>Sent Challenges</div>
</div>