<div class = "results_container" id = 'results'>
	<div>
		<% if (winner) { %>
			<% if (user.get('id') === winner.get('id')) { %>
				<div class = "finished_text">You won!</div>
			<% } else { %>
				<div class = "finished_text">You lost...</div>
			<% } %>
		<% } else { %>
			<div class = "finished_text"><%= next_player.get('name').split(' ')[0] %>'s Turn!</div>
		<% } %>
	</div>
</div>


<div id = 'send_challenge' class = "create_challenge_button">
	<% if (challenge.get('is_finished')) { %>
		Next
	<% } else { %>
		Send Challenge!
	<% } %>
</div>
