@import "compass";
@import "oh_sheet/vars";
@import "oh_sheet/mixins";
@import "oh_sheet/layouts";
@import "oh_sheet/challenges";
@import "oh_sheet/issues";
@import "oh_sheet/users";
@import "oh_sheet/questions";
@import "oh_sheet/loading";

.on {
	width: 25px;
	height: 25px;
	@include border-radius(13px);
	@include linear-gradient(darken($bluegreen,10%), lighten($bluegreen,6%));
}

.header {
	height: 35px;
	text-align: center;
	margin: 0 -5px 10px -5px;
	@include linear-gradient(lighten($bluegreen,1%), darken($bluegreen,16%));
	@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
	.logo_container {
		padding-top: 5px;
		height: 25px;
	}
}

.mission_image {
	margin: 20px 0 0 7%;
	overflow: hidden;
	width: 86%;
	height: 140px;
	@include border-radius(10px);
}

.signin_container {
	margin: 15px 0 0 0;
	
	.signin_facebook_button {
		@include border-radius(8px);
		@include linear-gradient(lighten($facebookblue,5%), darken($facebookblue,5%));
		@include single-box-shadow(rgba(#000, 0.45), 0px, 1px, 1px, 0);
		@include fonts;
		font-size: 13px;
		font-weight: bold;
		height: 26px;
		padding-top: 11px;
		width: 42%;
		margin: 12px 0 8px 29%;
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		a:link {
			text-decoration: none;
			color: #ffffff;
		}
		a:visited {
			text-decoration: none;
			color: #ffffff;
		}
	}

	.signin_text {
		font-size: 13px;
		color: #888888;
		text-align: center;
	}
}

.hide {
	display: none;
}

