@import "compass";
@import "vars";
@import "mixins";
@import "layouts";
@import "challenges";
@import "issues";
@import "users";
@import "questions";

.on {
	width: 25px;
	height: 25px;
	@include border-radius(13px);
	@include linear-gradient(darken($bluegreen,10%), lighten($bluegreen,6%));
}

.header {
	height: 25px;
	text-align: center;
	margin-bottom: 9px;
}
.hide {
	display: none;
}