@import "compass";
@import "oh_sheet/vars";
@import "oh_sheet/mixins";
@import "oh_sheet/layouts";
@import "oh_sheet/challenges";
@import "oh_sheet/issues";
@import "oh_sheet/users";
@import "oh_sheet/questions";
@import "oh_sheet/loading";

.on {
	width: 25px;
	height: 25px;
	@include border-radius(13px);
	@include linear-gradient(darken($bluegreen,10%), lighten($bluegreen,6%));
}

.header {
	height: 40px;
	margin: 0 -5px 10px -5px;
	@include linear-gradient(lighten($bluegreen,1%), darken($bluegreen,16%));
	@include single-box-shadow(rgba(#000, 0.25), 0px, 1px, 1px, 0);
	.profile_container {
		float: right;
		width: 39%;
		height: 40px;
		text-align: right;
		.profile_pic_container {
			width: 30px;
			height: 30px;
			overflow: hidden;
			margin: 5px 9px 0 9px;
			@include border-radius(5px);
			float: right;
			@include single-box-shadow(rgba(#000, 0.3), 1px, 1px, 1px, 0);
		}

		.profile_name_container {
			float: right;
			width: 50%;
			height: 12px;
			overflow: hidden;
			font-size: 10px;
			margin: 8px 0 0 5px;
			font-weight: bold;
			color: #ffffff;
			@include text-shadow(0px 1px 0 rgba(#000, 0.3));
		}
		.global_rank_container {
			float: right;
			width: 50%;
			margin: 1px 0 0 5px;
			height: 10px;
			color: #ffffff;
			@include text-shadow(0px 1px 0 rgba(#000, 0.3));
			.global_rank_big_icon {
				float: right;
				margin-left: 1px;
				font-size: 9px;
			}
			.global_rank_small_icon {
				float: right;
				margin: 2px 2px 0 2px;
				font-size: 6px;
			}
		}
	}
	.logo_container {
		padding-top: 7px;
		height: 25px;
		float: left;
		margin-left: 40%;
		width: 20%;
		text-align: center;
	}
}

.mission_text_container {
	margin: 35px 15px 0 15px;
	padding: 3px 3px 35px 3px;
	font-size: 15px;
	line-height: 19px;
	color: #444444;
	border-bottom: 1px solid #cccccc;
	text-align: center;
	@include text-shadow(0px 1px 0 rgba(lighten($bluegreen,25%),0.99));
	.green_mission_text {
		color: darken($bluegreen, 5%);
		font-weight: bold;
	}
}

.signin_container {
	margin: 2px 15px 0 15px;
	padding: 33px 0 0 0;
	border-top: 1px solid #dddddd;

	.signin_facebook_button {
		@include border-radius(8px);
		@include linear-gradient(lighten($facebookblue,5%), darken($facebookblue,5%));
		@include single-box-shadow(rgba(#000, 0.45), 0px, 1px, 1px, 0);
		@include text-shadow(0px 1px 0 rgba(#000, 0.2));
		@include fonts;
		font-size: 13px;
		font-weight: bold;
		height: 26px;
		padding-top: 11px;
		width: 42%;
		margin: 12px 0 8px 29%;
		text-decoration: none;
		text-align: center;
		color: #ffffff;
		a:link {
			text-decoration: none;
			color: #ffffff;
		}
		a:visited {
			text-decoration: none;
			color: #ffffff;
		}
	}

	.signin_text {
		font-size: 13px;
		color: #888888;
		text-align: center;
	}
}

.centered-stars {
	position: relative;

	&.left {
		
	}
	
	&.right {
		
	}
}
.hide {
	display: none;
}
