// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create_challenge_button {
	cursor: pointer;
	box-shadow: -1px -1px 2px rgba(darken($bluegreen,40%), 0.99) inset,
				1px 1px 2px rgba(darken($bluegreen,40%), 0.99) inset;
	@include border-radius(13px);
	@include linear-gradient(darken($bluegreen,5%), darken($bluegreen,25%));

	height: 26px;
	padding: 11px 0 0 0;
	
	margin: 12px 20% 0px 20%;

	color: #ffffff;
	font-size: 14px;
	text-align: center;

	@include text-shadow(0 1px 0 rgba(darken($bluegreen,40%),0.99));	
	font-weight: bold;
	&:hover {
		@include linear-gradient(darken($bluegreen,3%), darken($bluegreen,15%));
		box-shadow: -1px -1px 2px rgba(darken($bluegreen,30%), 0.99) inset,
					1px 1px 2px rgba(darken($bluegreen,30%), 0.99) inset;
	}
}

.create_challenge_text {
 	width: 180px;
	@include border-radius(13px);
}

.create_challenge_text_joanie {
	border: 2px solid;
	border-color: rgb(16,13,191);
	font-weight: bold;
}

.sent_challenge_container {
	float: left;
	width: 100%;
	.sent_challenges_text {
		font-weight: bold;
		font-size: 12px;
		margin: 15px 0 5px 3px;
	}
}

.finished_text {
	margin: 15px 0 10px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid;
	text-align: center;
	font-weight: bold;
	color: darken($bluegreen, 30%);
	font-size: 13px;
}

.results_container {
	padding-bottom: 8px;
}