// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	height: 35px;
	margin-bottom: 8px;
	@include border-radius(9px);
	@include linear-gradient(lighten($bluegreen,25%), lighten($bluegreen,15%));
}

.issue_title {
	font-weight: bold;
	padding: 10px 0 0 10px;
	font-size: 80%;
	float: left;
	color: #333333;
}

.issue_image {
	position: absolute;
	right: 9px;
	@include border-radius(7px);
	overflow: hidden;
	height: 35px;
}